body {
    background-color: rgba(211,211,211,0.30);
    width: auto;
    background-size: 100%;
    scrollbar-highlight-color: aquamarine;
}
#menulateral {
    top: 0px;
    height: 100%;
    left: 0px;
    background-color: rgba(76, 216, 75,0.60);
    width: 10%;
    position:fixed;
    border: 3px;
    border-style: double;
    border-color: white;
    border-spacing: 5px;
    z-index:200;
}
#imageLogo {
    top: 1%;
    left: 1%;
    width: 95%;
    position: absolute;
    
}
#Divtopo {
    top: 0%;
    position: fixed;
    left: 10.8%;
    width:89%;
    height:10%;    
    z-index:100;
}
#txttopo {
    border-bottom: 1px;
    border-bottom-style: double;
    border-bottom-color: greenyellow;
    text-align: right;
    font-family: sans-serif,Verdana;
    font-size: 10px;
    font-weight: bold;
    color: GrayText;
}
.logout {
    text-align: right;
    font-family: sans-serif,Verdana;
    font-size: 10px;
    font-weight: bold;
    color: GrayText;
}
#divRodape {
    bottom: 0%;
    position: absolute;
    left: 10.8%;
    width:89%;
    z-index:100;
       
}
#txtRodape {
    border-top: 3px;
    border-top-style: double;
    border-top-color: greenyellow;
    text-align: left;
    font-family: sans-serif,Verdana;
    font-size: 10px;
    font-weight: bold;
    color: GrayText;
}
/*menu dropdown*/
ul#nav, ul#nav li ul {
    font-size: 12px;
    color: white;
    font-family: sans-serif,Arial,Verdana;
    font-weight: bold;
    margin-top: 150px;
    margin-left:5px;
    padding: 0;
    list-style: none;
    width: 90%;
    border: solid #FFF;
    border-width: 0 1px 1px;
    background-color:darkgoldenrod;
    z-index:201;
   
}
    ul#nav li {
        position: relative;
    }
        ul#nav li ul {
            position: absolute;
            left:95%;
            top:0;
            display: none;
            margin-top:0;
            width:90%;
            z-index:202;
        }
        ul#nav li a, ul#nav ul li a {
            display: block;
            text-decoration: none;
            color: #FFF;
            padding: 0.25em 0.5em 0.25em 0.75em;
            border-top: 1px solid #FFF;
            z-index:203;
        }
        ul#nav li.submenu {
            background: transparent url("/Contents/Images/seta.png") no-repeat right;
            background-size: 10px;
            z-index:204;
        }
        ul#nav li a:hover {
            background-color:goldenrod;
        }
        /*\*/
*html ul li {
    float: left;
    height: 1%;
    z-index:205;
}
    *html ul li a {
        height: 1%;
    }
    /* */
ul#nav li:hover ul, ul#nav li.over ul {
    display: block;
    z-index:206;
    
}
#corposite {
    top: 10%;
    position: fixed;
    left: 10.8%;
    width:89%;
    height:80%;   
}
#txtTitulo {
    color:darkgoldenrod;
    font-family: sans-serif,Verdana,'News701 BT';
    font-size: 14px;
    font-style:italic;
    font-weight:bold;
    text-align:left;
}
hr {
    width: 100%;
    color: darkgoldenrod;
    align-self:stretch;
    
}
.table {
    border: 1px;
    text-decoration: none;
    font-family: sans-serif,Verdana,'News701 BT';
    text-decoration: none;
    border: 1px solid #FFF;
    padding:0;
    grid-cell:inherit;
    font-size: 14px;
    width: 100%;
    z-index:105;
}
.table {
    font-family: sans-serif,Verdana,'News701 BT';
    text-decoration: none;
    border: 1px;
    padding:0;
    border-collapse: separate;
    z-index:106;
    
}
    .table th {
        background-color: darkgoldenrod;
        font-weight:bold;
        font-size: 14px;
        color: black;
        z-index:107;
    }
        .table th:hover {
            background-color:goldenrod;
        }
    .table td {
        border-bottom: 1px solid #FFF;
        padding:0;
        font-size: 12px;
        z-index:108;
    }        
    .table a {
        text-decoration: none;
        z-index:109;
    }
        .table a:link {
            color:black;
        }
        .table a:visited {
            color:black;
        }
        .table a:active {
            color:black;
        }
.alternate {
    background-color: gray;
    z-index:110;
}
.selected {
    background-color: azure;
    z-index:111;
}
#formPesquisa {
    position: absolute;
    display: block;
    margin-top: 0em;
    z-index:112;
}
#formPesquisa input.campo {
    position:absolute;
    width: 50px;

}
    #formPesquisa input.tipo {
        position:absolute;
        width: 50px;
    }
    #formPesquisa input.pesquisa {
        position:absolute;
        width: 100px;
    }
 #btnPesquisa {
    background: transparent url("/Contents/Images/Lupa.png") no-repeat right;  
    background-size: 15px 15px;
    width: 15px;
    height: 15px;
    padding: 0px;   
    border: none;
    
}

.tblPesquisa {
        width:auto;
        height:auto;
    }
.tblPesquisa tbody {
        width:99%;
        height:auto;
    }
legend
{
    font-weight:bold;
    font-family: "Segoe UI";
    z-index:114;
}
#divPesq {
    width:98%;
    position:relative;
    z-index:115;
    top:initial;
}
#divPesq fieldset {
        width: 99%;
        height: auto;
        z-index:113;
    }
#divGrid {
    width:98%;    
    z-index:116;
}
    #divGrid fieldset {
        
        width: 99%;
        height: auto;
        z-index:117;
    }
#formcadastro {
    position: absolute;
    display: block;
    margin-top: 0em;
    z-index:118;
}
#formCadastro input.texto {
    position:absolute;
    /*width: 50px;*/

}
#divCadastro {
    width:98%;
    /*position:relative;*/
    z-index:119;
    top:initial;
}
#divCadastro fieldset {
        width: 99%;
        height: auto;
        z-index:120;
    }
    
