@{
    Layout = "~/Views/Home/Index.cshtml";
    
    var up = ViewData["usuario_permissao"] as SisUnimed.Models.usuario_permissao;
    
    
}
<p id="txtTitulo">
    Seja Bem Vindo!
    <hr />
</p>

