@model IEnumerable<SisUnimed.Models.ListaBanco>

@{       
    IEnumerable<SisUnimed.Models.ListaBanco> listabanco = (IEnumerable<SisUnimed.Models.ListaBanco>)ViewData["listabanco"];
    var grid = new WebGrid(listabanco.ToList(), defaultSort: "c_nome", rowsPerPage: 5);
}

<div id="divGrid">
        <fieldset>
            <legend>Bancos</legend>

                @grid.GetHtml(tableStyle: "table",alternatingRowStyle: "alternate", headerStyle: "header", columns: new[] {
                    grid.Column(columnName: "id",header:"Código",format: a => new HtmlString(Html.ActionLink((string)a.id.ToString(),"PreencheCampos",new{id=a.id},null).ToString()),canSort: true),
                    grid.Column(columnName: "c_codigo",header:"Número Banco",format: a => new HtmlString(Html.ActionLink((string)a.c_codigo.ToString(),"PreencheCampos",new{id=a.id},null).ToString()),canSort: true),                    
                    grid.Column(columnName: "c_nome", header: "Descrição", format: a => new HtmlString(Html.ActionLink((string)a.c_nome.ToString(),"PreencheCampos", new { id=a.id},null).ToString()),canSort: true),
                    grid.Column(columnName: "sisdatai", header: "Data de Inclusão", format: a => new HtmlString(Html.ActionLink((string)a.sisdatai.ToString(),"PreencheCampos", new { id=a.id},null).ToString()),canSort: true),
                    grid.Column(columnName: "sisusuarioi", header: "Usuário Inclusão", format: a => new HtmlString(Html.ActionLink((string)a.sisusuarioi.ToString(),"PreencheCampos", new { id=a.id},null).ToString()),canSort: true),
                    grid.Column(columnName: "sisdataa", header: "Última Alteração", format: a => new HtmlString(Html.ActionLink((string)a.sisdataa.ToString(),"PreencheCampos", new { id=a.id},null).ToString()),canSort: true),
                    grid.Column(columnName: "sisusuarioa", header: "Usuário Alteração", format: a => new HtmlString(Html.ActionLink((string)a.sisusuarioa.ToString(),"PreencheCampos", new { id=a.id},null).ToString()),canSort: true)
    
                })

        </fieldset>

</div>