@model IEnumerable<SisUnimed.Models.usuario>

@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Home/Index.cshtml";
   
    
}

<h2 id="txtTitulo">Cadastro de Usuário</h2>
<hr />
@Html.Partial("ListaUsuario")
